/* Utility */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Style Nav */

nav {
    background-color: #FF6900;
    width: 100%;
    height: 80px;
    color: white;
    font-size: 20px;
    padding-top: 25px;
    margin-bottom: 30px;
}


.container {
    width: 80%;
    margin: 0 auto;
}

/* main {
    margin: 100 auto 0;
} Simone */ 

main {
    margin-top: 130px;
    width: 80%;
    margin-left: 190px;
}

ul {
    list-style: none;
    min-width: 250px;
    /* margin: 0 auto; Simone*/
}

a {
    color: white;
    text-decoration: none;
} 

.flexbox {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}    

.logo {
    height: 35px;
    /* margin: 0 auto; Simone */
}

i {
    padding-right: 4px;
    /* margin: 0 auto; Simone */
}

.fixed {
    position: fixed;
    top: 0;
}

/* Style items */


.item {
    width: calc((100% - 30px) / 3);
    position: relative;
}

.item img {
    width: 100%;
    position: relative;
}

.flex {
    display: flex; 
    margin-bottom: 60px;
}

.margins {
    margin: 0 15px;
}

.label {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 100px;
    padding: 5px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.discount {
    background-color: red;
    width: 60px;
}

.sustenaibility {
    background-color: green;
    width: 110px;
    position: absolute;
    left: 65px;
}

.sustenaibility.sixth-pic {
    left: 0;
}

.heart {
    height: 50px;
    width: 50px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 40px;
    text-align: center;
}

.second-pic {
    display: none;
}

.item:hover .first-pic {
    display: none;
}

.item:hover .second-pic {
    display: block;
}

/* Style items captions */

.model-name {
    font-weight: bolder;
}

.discount-price {
    color: red;
    font-weight: bold;
}

.regular-price {
    text-decoration: line-through;
}

