/* Utility */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    background-color: aqua;
    height: 1500px;
}

/* Style Nav */

nav {
    background-color: #FF6900;
    width: 100%;
    height: 60px;
    color: white;
    padding-top: 15px;
    margin-bottom: 30px;
}


.container {
    width: 80%;
    margin: 0 auto;
}


main {
    margin-top: 300px;
}

ul {
    list-style: none;
    min-width: 150px;
}

a {
    color: white;
    text-decoration: none;
} 

.flexbox {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}    

.logo {
    height: 25px;
}

i {
    padding-right: 4px;
}

.fixed {
    position: fixed;
    top: 0;
}

/* Style main */


.item {
    width: calc((100% - 30px) / 3);
    /* position: relative; */
}

.item img {
    width: 100%;
}

.flex {
    display: flex; 
}

.margins {
    margin: 0 15px;
}

.label {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    padding: 5px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.discount {
    background-color: red;
}